.div1{
    float:left;
    margin: 10px;
}
body{
    background-color: bisque;
}
.first{
    width: 10px;
    color: blue;
    background-color: rgb(163, 123, 123);
    padding: 10px;
    margin: 10px;
    float: none;
    border-radius: 5px;
}
.tow{
    width: 10px;
    color: blue;
    background-color: rgb(163, 123, 123);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}
.clear{
    clear: left;
}


.three{
   
    width: 10px;
    
    color: blue;
    background-color: rgb(163, 123, 123);
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 5px;
     text-align: start;
}
.four{
   
    width: 10px;
    
    color: blue;
    background-color: rgb(163, 123, 123);
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 5px;
     text-align: start;
}
.div2{
    margin: 10px;
    float:inline-start;
    
    
    
}


